FRESHRSS_API_URL="http://127.0.0.1:8080/api/greader.php"
FRESHRSS_USERNAME=""
FRESHRSS_API_PASSWORD=""
# Generate with: php -r 'echo password_hash(trim(fgets(STDIN)), PASSWORD_ARGON2ID), PHP_EOL;'
STUDIO_PASSWORD_HASH=""
# Generate with: php -r 'echo bin2hex(random_bytes(32)), PHP_EOL;'
STUDIO_SESSION_SECRET=""
STUDIO_HUB_READ_TOKEN=""
